div {
        width:150;
        height:100;
        background:blue;
        display:inline;
}
.first {
        background-color:red;
        text-decoration:none;
}
#second {
        font-style:verdana;
}


        
